<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    {{> header}}

    <h3>Soon you will see a link to my projects</h3>

    <p>Here are my projects</p>
  </body>

  {{> footer}}
</html>
